h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    z-index: 100;
    font-size: 25px;
    font-weight: bold;
}


.meme-top-text{
    position: absolute;
    top: 16px;
    z-index: 100;
   
  }

.meme-bottom-text{
    position: absolute;
    bottom: 16px;
    z-index: 100;
   
  }

.meme-container {
    position: relative;
    text-align: center;
    color: white;
    z-index: -100;
  }
  